@page "/Adder"
@inject IJSRuntime JS
@using Project4.Core;
@inject ClipHandle _clipHandler
@rendermode InteractiveServer

<PageTitle>Sound Adder</PageTitle>

<h1>Add Sound</h1>

<div>
    <p>Name: </p>
    <input type="text" @bind-value="name" />
    <p class="Error">@nameError</p>

    <p>Percentage: </p>
    <input type="text" @bind-value="percentage"/>
    <p class="Error">@percentError</p>

    <p>Interval (sec, min, hour): </p>
    <input type="text" @bind-value="interval"/>
    <p class="Error">@intervalError</p>

    <p>Path: </p>
    <input type="text" @bind-value="path"/>
    <p>@path</p>
    <p class="Error">@pathError</p>
    <button @onclick="Save">Save Sound</button>
    <button @onclick="() => Test()">Test</button>
    <p class="savedMessage">@savedMessage</p>
</div>

@code {

    string name = "";
    string percentage = "";
    string interval = "";
    string path = "";
    string savedMessage = "";

    string nameError = "";
    string percentError = "";
    string intervalError = "";
    string pathError = "";

    private async void Save()
    {
        if (Test())
        {
            double realPercent;
            double.TryParse(percentage, out realPercent);

            int deciseconds = 100;

            switch (interval)
            {
                case "sec":
                    deciseconds = 100;
                    break;
                case "min":
                    deciseconds = 6000;
                    break;
                case "hour":
                    deciseconds = 360000;
                    break;
                default:
                    break;
            }

            Core.SoundClip clip = new Core.SoundClip(name, path, realPercent, deciseconds);
            _clipHandler.RunClip(name, clip);
            savedMessage = "Saved Successfully";
        }
        else
            savedMessage = "";
    }

    private async void Play()
    {
        await Core.PlaySoundTest.PlaySound(path);
    }

    private bool Test() // Returns true when everything is fine
    {
        bool flagged = false; // flag if info is incorrect

        // Check name
        List<string> names = _clipHandler.clips.Keys.ToList();
        if (names.Contains(name))
        {
            nameError = "Duplicate name found, try another name";
            name = "";
            flagged = true;
        }
        else
            nameError = "";

        // Check percentage
        double outPutPercent;
        if (!double.TryParse(percentage, out outPutPercent))
        {
            percentError = "Incorrect type, please enter a number like 1.00 or .5";
            percentage = "";
            flagged = true;
        }
        else
            percentError = "";

        // Check interval
        if (interval == "sec" || interval == "min" || interval == "hour") 
            intervalError = "";
        else
        {
            intervalError = "Incorrect interval, please enter either \"sec\", \"min\", or \"hour\"";
            interval = "";
            flagged = true;
        }

        // Check path
        if (!File.Exists(path) || !(path.EndsWith(".mp3") || path.EndsWith(".wav")))
        {
            pathError = "Incorrect path found, please enter a valid path to mp3 or wav file";
            path = "";
            flagged = true;
        }
        else
            pathError = "";

        savedMessage = "";

        if (!flagged)
            Play();
        return !flagged;
    }
}