@page "/"
@implements IDisposable
@using Project4.Core
@inject ClipHandle _handler;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>RaSound</h1>


@foreach (string name in _handler.clips.Keys.ToList())
{
	SoundClip soundClip = _handler.soundClips[name];
	<div style="border:5px solid black; border-radius:5px;">
		<h3>@soundClip.name</h3> <button @onclick="() => StopClip(name)">Stop</button>
		<p>uptime -> @soundClip.time</p>
		<p>Times Played -> @soundClip.timesPlayed</p>
		<p>Percent -> @soundClip.percentage</p>
		<p>Interval -> @soundClip.timesetType</p>
		<p>Path -> @soundClip.path</p>
	</div>
}


@code {
	private PeriodicTimer? timer;
	private CancellationTokenSource cts = new();

	/// <summary>
	/// Updates the window every second
	/// </summary>
	protected override async Task OnInitializedAsync()
	{
		timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

		_ = Task.Run(async () =>
		{
			try
			{
				while (await timer.WaitForNextTickAsync(cts.Token))
				{
					await InvokeAsync(StateHasChanged);
				}
			}
			catch (OperationCanceledException) { }
		});
	}

	/// <summary>
	/// Disposes both the task and timer
	/// </summary>
	public void Dispose()
	{
		cts.Cancel();
		timer?.Dispose();
	}

	/// <summary>
	/// Stops the clip using the _handler
	/// </summary>
	/// <param name="clipName">the name of the clip to stop</param>
	public void StopClip(string clipName)
	{
		_handler.StopClip(clipName);
	}
}